@charset "utf-8";

body {
  height: 100vh;
}
header {
  height: 70px;
  width: 100%;
  background-color: #2ac1bc;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul, li, a {
  all:unset;
}
.logo {
  font-family: 'BMdohyeon', sans-serif;
  color: #fff;
  width: 280px;
  height: 30px;
  text-shadow: 4px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17pt;
  cursor: default;
}
.logo span {
  margin-top: 3px;
}

nav {
  float: left;
  height: calc(100vh - 70px);
  width: 180px;
  background-color: #cff0ef;
}
.side_menu {
  padding-top: 10px;
  height: 80%;
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.side_menu a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  font-family: 'BMhannaAir', sans-serif;
  background-color: #cff0ef;
  cursor: pointer;
}
.side_menu li > a {
  position: relative;
  padding: 15px 0;
  width: 140px;
  font-size: 13pt;
  position: relative;
  transition: color linear 0.1s;
  z-index: 1;
}
.side_menu li:hover > a {
  color: #2ac1bc;
}
.side_menu li > a::after {
  content: '';
  left: 50%;
  bottom: 0;
  position: absolute;
  width: 0px;
  border-bottom: 3px solid #7aa8a6;
  transition: left linear 0.4s, width linear 0.4s;
}
.side_menu li:hover > a::after {
  left: 0;
  width: 140px;
}
.side_menu li {
  overflow: hidden;
}
.sub_menu {
  position: relative;
  top: -100%;
  left: 0;
  width: 180px;
  background-color: #cff0ef;
  transition: top linear 0.4s;
}
.side_menu li:hover .sub_menu {
  top: 0;
}
.sub_menu a {
  padding: 8px 0;
  margin: 7px auto;
  font-size: 11pt;
  display: none;
  transition: color linear 0.1s;
}
.sub_menu a:last-child {
  margin-bottom: 14px;
}
.sub_menu a:hover {
  color: #2ac1bc;
}
.side_menu li:hover .sub_menu a {
  display: block;
}
.sub_menu a:last-child {
  padding-bottom: 15px;
}
.sub_menu a:last-child::after {
  content: '';
  margin: 0 auto;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 140px;
  padding-top: 20px;
  margin: 0 20px;
  border-bottom: 3px solid #7aa8a6;
}

main {
  height: calc(100vh - 70px);
  width: 100vw;
}

@font-face {
  font-family: 'BMdohyeon';
  font-style: normal;
  font-weight: 800;
  src: url('./font/BMdohyeon.ttf') format('truetype');
}
@font-face {
  font-family: 'BMhannaAir';
  font-style: normal;
  font-weight: 800;
  src: url('./font/BMhannaAir.ttf') format('truetype');
}
